In [43]:
import cv2
import os
from os.path import join, isfile
from os import makedirs
from pathlib import Path
import xml.etree.ElementTree as ET
from copy import deepcopy
from tqdm.notebook import tqdm_notebook as ntqdm
import random
from natsort import natsorted
import matplotlib.pyplot as plt
import pandas as pd


plt.rcParams['figure.figsize'] = [15, 10]

In [44]:
data_path = '/home/masoud/Desktop/C'
video_path = Path(data_path) / 'train'
annotation_path = Path(data_path) / 'game-status'

annotations = natsorted(list(annotation_path.glob('*.xml')), key=lambda x: x.stem)
videos = natsorted(list(video_path.glob('*')), key=lambda x: x.stem)
videos = [vid for vid in videos if vid.stem in [annot.stem for annot in annotations]]

In [45]:
pairs = list(zip(videos, annotations))

In [46]:
get_label = lambda annots, label_name: [f.get('name') for f in annots if f.find('tag').get('label') == label_name]

def get_frame_nos(annot_path, label='serving-start'):
    # Parse file
    data = ET.parse(annot_path)
    # Separate all images tags
    images = data.findall('image')
    # Filter the images with no image_tag
    images = [img for img in images if img.find('tag') is not None]
    # Get the image frame number of the ones that matches the label given like `serving-start`, ....
    frame_str = get_label(images, label)
    frame_nos = [int(f.split('_')[1]) for f in frame_str]
    return frame_nos

# Finding the annotation mistakes

In [6]:
# annot = annotations[7]

# serves = get_frame_nos(annot, 'serving-start')
# end_serves = get_frame_nos(annot, 'serving-end')
# end_games = get_frame_nos(annot, 'in-game-end')

# max_length = max(len(serves), len(end_serves), len(end_games))

# print(annot)
# print("serves: ", len(serves))
# print("end-serves: ", len(end_serves))
# print("end-games: ", len(end_games))


# all_periods = []

# print("prev_end_game | serve-start | end-serve | end_game |")
# for i in range(max_length):
#     eg = end_games[i]
    
#     next_s = serves[i+1]
#     next_es = end_serves[i+1]
#     next_eg = end_games[i+1]
    
#     print(f"{eg}           |     {next_s}     |   {next_es}     |   {next_eg}    |")
#     assert eg < next_s, f"the end_game {eg} - start_serve {next_s}"
#     assert next_s < next_es, f"The end_serve {next_es} - start serve {next_s}"
#     assert next_es < next_eg, f"the end_serve {next_es} is after end_game {next_eg}"

/home/masoud/Desktop/C/game-status/13.xml
serves:  226
end-serves:  226
end-games:  226
prev_end_game | serve-start | end-serve | end_game |
237           |     368     |   411     |   510    |
510           |     653     |   716     |   899    |
899           |     980     |   1031     |   1144    |
1144           |     1252     |   1320     |   1438    |
1438           |     1529     |   1618     |   1753    |
1753           |     1857     |   1928     |   2091    |
2091           |     2147     |   2214     |   2308    |
2308           |     2486     |   2523     |   2642    |
2642           |     2783     |   2832     |   2998    |
2998           |     3057     |   3132     |   3271    |
3271           |     3390     |   3432     |   3549    |
3549           |     3658     |   3716     |   3899    |
3899           |     3942     |   4036     |   4187    |
4187           |     4268     |   4336     |   4448    |
4448           |     4572     |   4620     |   4639    |
4639           |     4875     |   4936     |   5055    |
5055           |     5154     |   5210     |   5342    |
5342           |     5435     |   5511     |   5640    |
5640           |     5758     |   5829     |   5999    |
5999           |     6052     |   6126     |   6141    |
6141           |     6388     |   6423     |   6599    |
6599           |     6681     |   6739     |   6879    |
6879           |     6987     |   7034     |   7149    |
7149           |     7259     |   7335     |   7439    |
7439           |     7565     |   7614     |   7739    |
7739           |     7871     |   7934     |   8099    |
8099           |     8160     |   8224     |   8399    |
8399           |     8439     |   8521     |   8699    |
8699           |     8747     |   8814     |   8958    |
8958           |     9085     |   9133     |   9265    |
9265           |     9365     |   9433     |   9549    |
9549           |     9668     |   9731     |   9899    |
9899           |     9948     |   10014     |   10198    |
10198           |     10271     |   10332     |   10460    |
10460           |     10576     |   10640     |   10661    |
10661           |     10853     |   10919     |   11066    |
11066           |     11166     |   11239     |   11389    |
11389           |     11449     |   11523     |   11543    |
11543           |     11753     |   11825     |   11842    |
11842           |     12079     |   12113     |   12296    |
12296           |     12376     |   12419     |   12454    |
12454           |     12665     |   12719     |   12751    |
12751           |     12979     |   13018     |   13049    |
13049           |     13245     |   13312     |   13499    |
13499           |     13590     |   13641     |   13799    |
13799           |     13842     |   13912     |   14034    |
14034           |     14149     |   14220     |   14237    |
14237           |     14456     |   14526     |   14645    |
14645           |     14781     |   14814     |   14999    |
14999           |     15097     |   15129     |   15258    |
15258           |     15403     |   15435     |   15598    |
15598           |     15671     |   15736     |   15899    |
15899           |     15982     |   16037     |   16175    |
16175           |     16262     |   16320     |   16346    |
16346           |     16564     |   16629     |   16785    |
16785           |     16849     |   16912     |   17034    |
17034           |     17165     |   17225     |   17348    |
17348           |     17474     |   17515     |   17551    |
17551           |     17749     |   17813     |   17999    |
17999           |     18057     |   18118     |   18230    |
18230           |     18339     |   18412     |   18432    |
18432           |     18637     |   18718     |   18819    |
18819           |     18958     |   19017     |   19093    |
19093           |     19266     |   19335     |   19438    |
19438           |     19586     |   19618     |   19799    |
19799           |     19830     |   19916     |   20025    |
20025           |     20160     |   20240     |   20384    |
20384           |     20459     |   20525     |   20699    |
20699           |     20755     |   20822     |   20999    |
20999           |     21064     |   21134     |   21254    |
21254           |     21338     |   21424     |   21447    |
21447           |     21671     |   21746     |   21865    |
21865           |     21976     |   22036     |   22151    |
22151           |     22254     |   22311     |   22414    |
22414           |     22574     |   22635     |   22756    |
22756           |     22872     |   22927     |   23099    |
23099           |     23158     |   23228     |   23386    |
23386           |     23449     |   23528     |   23699    |
23699           |     23742     |   23817     |   23846    |
23846           |     24042     |   24118     |   24264    |
24264           |     24395     |   24436     |   24599    |
24599           |     24639     |   24732     |   24860    |
24860           |     24955     |   25038     |   25199    |
25199           |     25261     |   25334     |   25499    |
25499           |     25554     |   25621     |   25775    |
25775           |     25856     |   25926     |   25946    |
25946           |     26147     |   26219     |   26330    |
26330           |     26464     |   26539     |   26571    |
26571           |     26741     |   26818     |   26932    |
26932           |     27041     |   27111     |   27126    |
27126           |     27338     |   27411     |   27545    |
27545           |     27693     |   27745     |   27900    |
27900           |     27977     |   28028     |   28153    |
28153           |     28266     |   28333     |   28459    |
28459           |     28577     |   28637     |   28799    |
28799           |     28827     |   28912     |   29053    |
29053           |     29151     |   29221     |   29356    |
29356           |     29455     |   29528     |   29698    |
29698           |     29760     |   29831     |   29967    |
29967           |     30044     |   30111     |   30143    |
30143           |     30363     |   30431     |   30467    |
30467           |     30681     |   30725     |   30849    |
30849           |     30967     |   31031     |   31066    |
31066           |     31281     |   31331     |   31499    |
31499           |     31579     |   31616     |   31718    |
31718           |     31840     |   31915     |   32008    |
32008           |     32152     |   32235     |   32337    |
32337           |     32485     |   32534     |   32635    |
32635           |     32750     |   32822     |   32999    |
32999           |     33066     |   33131     |   33160    |
33160           |     33369     |   33432     |   33539    |
33539           |     33658     |   33728     |   33899    |
33899           |     33941     |   34024     |   34136    |
34136           |     34236     |   34316     |   34329    |
34329           |     34541     |   34616     |   34799    |
34799           |     34855     |   34932     |   34951    |
34951           |     35180     |   35230     |   35332    |
35332           |     35465     |   35526     |   35632    |
35632           |     35763     |   35836     |   35999    |
35999           |     36070     |   36139     |   36268    |
36268           |     36369     |   36418     |   36447    |
36447           |     36651     |   36728     |   36755    |
36755           |     36962     |   37031     |   37142    |
37142           |     37292     |   37331     |   37499    |
37499           |     37556     |   37628     |   37799    |
37799           |     37864     |   37919     |   38057    |
38057           |     38151     |   38225     |   38343    |
38343           |     38447     |   38528     |   38699    |
38699           |     38746     |   38823     |   38850    |
38850           |     39056     |   39137     |   39299    |
39299           |     39374     |   39427     |   39518    |
39518           |     39674     |   39734     |   39833    |
39833           |     39955     |   40021     |   40142    |
40142           |     40244     |   40312     |   40439    |
40439           |     40576     |   40621     |   40727    |
40727           |     40846     |   40918     |   41068    |
41068           |     41136     |   41221     |   41358    |
41358           |     41466     |   41532     |   41659    |
41659           |     41778     |   41826     |   41999    |
41999           |     42053     |   42129     |   42155    |
42155           |     42945     |   43016     |   43162    |
43162           |     43270     |   43337     |   43369    |
43369           |     43586     |   43630     |   43674    |
43674           |     43849     |   43911     |   43943    |
43943           |     44157     |   44224     |   44363    |
44363           |     44482     |   44527     |   44699    |
44699           |     44774     |   44821     |   44934    |
44934           |     45053     |   45131     |   45229    |
45229           |     45354     |   45422     |   45450    |
45450           |     45671     |   45731     |   45851    |
45851           |     45951     |   46013     |   46149    |
46149           |     46253     |   46314     |   46424    |
46424           |     46557     |   46617     |   46799    |
46799           |     46849     |   46911     |   47020    |
47020           |     47179     |   47231     |   47252    |
47252           |     47481     |   47542     |   47558    |
47558           |     47756     |   47820     |   47937    |
47937           |     48052     |   48128     |   48252    |
48252           |     48351     |   48435     |   48549    |
48549           |     48697     |   48739     |   48899    |
48899           |     48964     |   49013     |   49199    |
49199           |     49270     |   49313     |   49428    |
49428           |     49574     |   49639     |   49799    |
49799           |     49854     |   49910     |   49933    |
49933           |     50175     |   50232     |   50346    |
50346           |     50452     |   50525     |   50699    |
50699           |     50746     |   50811     |   50858    |
50858           |     51059     |   51132     |   51279    |
51279           |     51343     |   51420     |   51599    |
51599           |     51676     |   51719     |   51899    |
51899           |     51963     |   52019     |   52132    |
52132           |     52272     |   52333     |   52451    |
52451           |     52561     |   52626     |   52799    |
52799           |     52845     |   52911     |   53025    |
53025           |     53138     |   53212     |   53327    |
53327           |     53455     |   53533     |   53683    |
53683           |     53718     |   53811     |   53974    |
53974           |     54070     |   54138     |   54153    |
54153           |     54375     |   54434     |   54558    |
54558           |     54674     |   54721     |   54836    |
54836           |     54987     |   55026     |   55199    |
55199           |     55275     |   55324     |   55439    |
55439           |     55570     |   55629     |   55776    |
55776           |     55871     |   55924     |   56037    |
56037           |     56150     |   56214     |   56347    |
56347           |     56461     |   56533     |   56654    |
56654           |     56777     |   56821     |   56926    |
56926           |     57071     |   57136     |   57259    |
57259           |     57364     |   57419     |   57533    |
57533           |     57663     |   57738     |   57864    |
57864           |     57937     |   58016     |   58142    |
58142           |     58235     |   58309     |   58499    |
58499           |     58562     |   58634     |   58719    |
58719           |     58860     |   58931     |   58955    |
58955           |     59192     |   59239     |   59349    |
59349           |     59465     |   59513     |   59699    |
59699           |     59770     |   59829     |   59999    |
59999           |     60073     |   60130     |   60144    |
60144           |     60356     |   60432     |   60536    |
60536           |     60666     |   60733     |   60899    |
60899           |     60990     |   61039     |   61199    |
61199           |     61262     |   61320     |   61345    |
61345           |     61569     |   61632     |   61742    |
61742           |     61864     |   61927     |   62099    |
62099           |     62168     |   62227     |   62294    |
62294           |     62452     |   62520     |   62537    |
62537           |     62746     |   62828     |   62985    |
62985           |     63055     |   63125     |   63299    |
63299           |     63373     |   63433     |   63599    |
63599           |     63677     |   63731     |   63851    |
63851           |     63987     |   64024     |   64136    |
64136           |     64262     |   64316     |   64437    |
64437           |     64578     |   64631     |   64735    |
64735           |     64848     |   64927     |   64943    |
64943           |     65159     |   65232     |   65399    |
65399           |     65456     |   65515     |   65530    |
65530           |     65758     |   65836     |   65881    |
65881           |     66061     |   66122     |   66245    |
66245           |     66346     |   66416     |   66429    |
66429           |     66646     |   66723     |   66900    |
66900           |     66938     |   67017     |   67193    |
67193           |     67247     |   67318     |   67491    |
67491           |     67548     |   67614     |   67634    |
67634           |     67857     |   67926     |   68027    |
68027           |     68193     |   68241     |   68358    |

IndexError: list index out of range

# Generate Services

In [52]:
output_base_dir = '/home/masoud/Desktop/projects/volleyball_analytics/data/raw/game-status'
service_dir = Path(output_base_dir) / 'service'
game_dir = Path(output_base_dir) / 'play'
no_game_dir = Path(output_base_dir) / 'no-play'


def write_video(cap: cv2.VideoCapture, st: int, end: int, fps: int, w: int, h: int, video_length: int, output_path: Path, video: Path):
    cap.set(1, st)
    filename = f'inplay_{video.stem}_st1_{st}_end_{st+50}.mp4'
    output_file = (output_path / filename).as_posix()
    writer = cv2.VideoWriter(
        output_file, 
        cv2.VideoWriter_fourcc(*'mp4v'),
        fps,
        (w, h)
    )
    for i in range(video_length):
        status, frame = cap.read()
        if status:
            writer.write(frame)

    writer.release()

def get_random_int_between_ab(st, end, divisions=5, video_length=50):
    diff = end - st
    interval = diff // divisions
    resutls = []
    for i in range(5):
        start_fno = random.randint(st, (st + interval - 50))
        st += interval
        results.append(start_fno)
    return results


for video, annot in pairs:
    cap = cv2.VideoCapture(video.as_posix())
    w, h, fps = [int(cap.get(i)) for i in range(3, 6)]
    
    serves = get_frame_nos(annot, 'serving-start')
    end_serves = get_frame_nos(annot, 'serving-end')
    end_games = get_frame_nos(annot, 'in-game-end')
    data = {
    'serve': serves, 'end_serve': end_serves, 'end_game': end_games
    }
    df = pd.DataFrame(data=data)

    df['next_serve'] = None
    
    for i in range(len(df)):
        if i != len(df) - 1:
            next_serve = df.at[i+1, 'serve']
            df.at[i, 'next_serve'] = next_serve
        else:
            df.at[i, 'next_serve'] = None
    
    pbar = ntqdm(total=len(df))
    pbar.set_description(f"Processing {video.name}")
    for i, row in df.iterrows():
        
        pbar.update(1)
        start_serve_fno = row['serve']
        end_serve_fno = start_inplay_fno = row['end_serve']
        end_inplay_fno = start_noplay_fno = row['end_game']
        end_noplay_fno = row['next_serve']
        
        ######################### Generate service videos #################################
        
        # length = end_serve_fno - start_serve_fno
        # cap.set(1, start_serve_fno)

        # filename = f'serve_{video.stem}_st_{start_serve_fno}_end_{end_serve_fno}.mp4'
        # output_file = (service_dir / filename).as_posix()
        # writer = cv2.VideoWriter(
        #     output_file, 
        #     cv2.VideoWriter_fourcc(*'mp4v'),
        #     fps,
        #     (w, h)
        # )
        # for i in range(length):
        #     status, frame = cap.read()
        #     if status:
        #         writer.write(frame)

        # writer.release()

        ######################### Generate in-play videos #################################

        length = end_inplay_fno - start_inplay_fno 
        print(length)
        if length < 50:
            continue
        elif 50 <= length <= 120:
            st = random.randint(start_inplay_fno, end_inplay_fno - 50)
            write_video(
                cap=cap, 
                st=st, 
                end=st+50, 
                fps=fps, 
                w=w, 
                h=h, 
                video_length=50, 
                output_path=game_dir, 
                video=video
            )

        elif 120 < length <= 500:
            # create 2 files : 1 from beginning, 1 from the ending part
            st = start_inplay_fno
            write_video(
                cap=cap, 
                st=st, 
                end=st+50, 
                fps=fps, 
                w=w, 
                h=h, 
                video_length=50, 
                output_path=game_dir, 
                video=video
            )

            # 2
            end = end_inplay_fno
            st = end_inplay_fno - 55

            write_video(
                cap=cap, 
                st=st, 
                end=st+50, 
                fps=fps, 
                w=w, 
                h=h, 
                video_length=50, 
                output_path=game_dir, 
                video=video
            )

        # elif length > 500:
        #     st = start_inplay_fno
        #     end = end_inplay_fno
            
        #     write_video(
        #         cap=cap,
        #         st=st,
        #         end=st+50,
        #         fps=fps,
        #         w=w,
        #         h=h,
        #         video_length=50,
        #         output_path=game_dir, 
        #         video=video
        #     )

        #     fnos = get_random_int_between_ab(st, end)

        #     for fno in fnos:
        #         write_video(
        #             cap=cap,
        #             st=fno,
        #             end=st+50,
        #             fps=fps,
        #             w=w,
        #             h=h,
        #             video_length=50,
        #             output_path=game_dir, 
        #             video=video
        #         )

  0%|          | 0/20 [00:00<?, ?it/s]

129
120
115
108
108
116
117
110
98
179
274
335
159
248
160
126
304
158
264
247

  0%|          | 0/12 [00:00<?, ?it/s]

567
217
303
356
388
503
933
177
747
478
647
414

  0%|          | 0/42 [00:00<?, ?it/s]

274
214
124
279
31
345
37
316
103
279
46
366
132
43
125
142
24
193
142
130
116
37
194
126
249
818
136
236
127
193
126
123
47
130
369
152
37
190
107
141
318
204

  0%|          | 0/42 [00:00<?, ?it/s]

43
123
406
134
282
481
53
-761
-679
-670
-3618
-812
-837
-567
-692
-756
-798
-708
-741
-699
-872
-767
-624
-2411
87
511
452
30
88
115
237
26
134
368
50
261
548
110
113
269
37
166

  0%|          | 0/134 [00:00<?, ?it/s]

333
130
170
147
47
180
128
736
417
117
142
110
27
360
162
95
29
509
117

KeyboardInterrupt:

In [55]:
video, annot = pairs[3]
serves = get_frame_nos(annot, 'serving-start')
end_serves = get_frame_nos(annot, 'serving-end')
end_games = get_frame_nos(annot, 'in-game-end')
data = {
'serve': serves, 'end_serve': end_serves, 'end_game': end_games
}
df = pd.DataFrame(data=data)

In [57]:
df['diff'] = df["end_serve"] - df["serve"]
df['diff2'] = df['end_game'] - df['end_serve']
df

    serve  end_serve  end_game  diff  diff2
0     736        797       840    61     43
1    1361       1433      1556    72    123
2    3211       3273      3679    62    406
3    4332       4375      4509    43    134
4    5264       5297      5579    33    282
5    6255       6293      6774    38    481
6    9917       9963     10016    46     53
7   11447      11509     10748    62   -761
8   12260      12314     11635    54   -679
9   12965      13024     12354    59   -670
10  16645      16695     13077    50  -3618
11  17564      17623     16811    59   -812
12  18552      18587     17750    35   -837
13  19210      19261     18694    51   -567
14  20015      20061     19369    46   -692
15  21099      21152     20396    53   -756
16  21974      22030     21232    56   -798
17  22873      22935     22227    62   -708
18  23963      24024     23283    61   -741
19  24813      24852     24153    39   -699
20  25787      25837     24965    50   -872
21  26670      26722     25955    52   -767
22  27016      27388     26764   372   -624
23  27329      29958     27547  2629  -2411
24  30544      30599     30686    55     87
25  34128      34219     34730    91    511
26  35395      35468     35920    73    452
27  36676      36750     36780    74     30
28  37863      37927     38015    64     88
29  39389      39468     39583    79    115
30  40582      40620     40857    38    237
31  41610      41656     41682    46     26
32  42184      42269     42403    85    134
33  43040      43090     43458    50    368
34  44175      44257     44307    82     50
35  44798      44865     45126    67    261
36  45842      45889     46437    47    548
37  47296      47334     47444    38    110
38  48135      48228     48341    93    113
39  49314      49399     49668    85    269
40  50359      50435     50472    76     37
41  51135      51226     51392    91    166

# Generate In-Game periods

- find the interval of end2_game and end1_game
- if it's between 50 and 120 get 1 video from it.
- if it's more than 120, then get 2 videos. one from beginning, the other from end of it.
- if it's more than 500, take 5 videos. each from 100 frame intervals.

## Next Steps

- Train a sample model and try splitting videos based on it

(2037, 2629, 2219)
(2629, 3221, 2865)
(3221, 3813, 3578)
(3813, 4405, 3829)
(4405, 4997, 4852)

In [46]:
serves[224]

68193

In [21]:
(df['end_serve'] - df['serve']).max()

94

In [20]:
(df['end_serve'] - df['serve']).min()

32

In [23]:
# print(end1_frame_no)
print(end2_frame_no - end1_frame_no)

117

In [26]:
S = service_dir.as_posix()

In [29]:
!ls $S | wc -l

680

In [39]:
serves

[70,
 368,
 653,
 980,
 1252,
 1529,
 1857,
 2147,
 2486,
 2783,
 3057,
 3390,
 3658,
 3942,
 4268,
 4572,
 4875,
 5154,
 5435,
 5758,
 6052,
 6388,
 6681,
 6987,
 7259,
 7565,
 7871,
 8160,
 8439,
 8747,
 9085,
 9365,
 9668,
 9948,
 10271,
 10576,
 10853,
 11166,
 11449,
 11753,
 12079,
 12376,
 12665,
 12979,
 13245,
 13590,
 13842,
 14149,
 14456,
 14781,
 15097,
 15403,
 15671,
 15982,
 16262,
 16564,
 16849,
 17165,
 17474,
 17749,
 18057,
 18339,
 18637,
 18958,
 19266,
 19586,
 19830,
 20160,
 20459,
 20755,
 21064,
 21338,
 21671,
 21976,
 22254,
 22574,
 22872,
 23158,
 23449,
 23742,
 24042,
 24395,
 24639,
 24955,
 25261,
 25554,
 25856,
 26147,
 26464,
 26741,
 27041,
 27338,
 27693,
 27977,
 28266,
 28577,
 28827,
 29151,
 29455,
 29760,
 30044,
 30363,
 30681,
 30967,
 31281,
 31579,
 31840,
 32152,
 32485,
 32750,
 33066,
 33369,
 33658,
 33941,
 34236,
 34541,
 34855,
 35180,
 35465,
 35763,
 36070,
 36369,
 36651,
 36962,
 37292,
 37556,
 37864,
 38151,
 38447,
 38746,
 39056,
 39374,
 39674,
 39955,
 40244,
 40576,
 40846,
 41136,
 41466,
 41778,
 42053,
 42945,
 43270,
 43586,
 43849,
 44157,
 44482,
 44774,
 45053,
 45354,
 45671,
 45951,
 46253,
 46557,
 46849,
 47179,
 47481,
 47756,
 48052,
 48351,
 48697,
 48964,
 49270,
 49574,
 49854,
 50175,
 50452,
 50746,
 51059,
 51343,
 51676,
 51963,
 52272,
 52561,
 52845,
 53138,
 53455,
 53718,
 54070,
 54375,
 54674,
 54987,
 55275,
 55570,
 55871,
 56150,
 56461,
 56777,
 57071,
 57364,
 57663,
 57937,
 58235,
 58562,
 58860,
 59192,
 59465,
 59770,
 60073,
 60356,
 60666,
 60990,
 61262,
 61569,
 61864,
 62168,
 62452,
 62746,
 63055,
 63373,
 63677,
 63987,
 64262,
 64578,
 64848,
 65159,
 65456,
 65758,
 66061,
 66346,
 66646,
 66938,
 67247,
 67548,
 67857,
 68193]

In [41]:
df

     serve  end_serve  end_game
0       70        132       237
1      368        411       510
2      653        716       899
3      980       1031      1144
4     1252       1320      1438
..     ...        ...       ...
221  66938      67017     67193
222  67247      67318     67491
223  67548      67614     67634
224  67857      67926     68027
225  68193      68241     68358

[226 rows x 3 columns]